.main {
  height: 100vh;
  overflow: hidden;
  position: relative;
  background-color: #070034;
  background-image: radial-gradient(#38007f, #000035);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.sunContainer {
  position: absolute;
  bottom: 50%;
  right: 0;
  width: 100%;
  height: 50%;
  overflow: hidden;
}
.sun {
  position: absolute;
  bottom: 0vh;
  right: 50%;

  width: 43vh;
  height: 43vh;
  transform: translate(50%, 5%);
  background-image: linear-gradient(
    180deg,
    hsl(59deg 95% 49%) 0%,
    hsl(53deg 93% 59%) 29%,
    hsl(46deg 94% 63%) 43%,
    hsl(37deg 96% 67%) 49%,
    #d117a6 50%,
    #d117a6 51%,
    hsl(26deg 98% 70%) 52%,
    hsl(26deg 98% 70%) 57%,
    #d117a6 58%,
    #d117a6 60%,
    hsl(11deg 100% 73%) 61%,
    hsl(353deg 100% 75%) 65%,
    #d117a6 66%,
    #d117a6 68%,
    hsl(338deg 99% 72%) 69%,
    hsl(338deg 99% 72%) 73%,
    #d117a6 74%,
    #d117a6 77%,
    hsl(327deg 99% 68%) 78%,
    hsl(327deg 99% 68%) 81%,
    #d117a6 82%,
    #d117a6 85%,
    hsl(318deg 99% 63%) 86%,
    hsl(318deg 99% 63%) 89%,
    #d117a6 90%,
    #d117a6 93%,
    hsl(310deg 99% 53%) 94%,
    hsl(310deg 99% 53%) 100%
  );
  border-radius: 50%;
  box-shadow: 0 0 30px #ff00e4;
}
.imgContainer {
  width: 100%;
  height: 50vh;
  border-top: 1px solid #ff00e4;
  box-shadow: 0 0 10px #ff00e4;
  perspective: 900px;
}
.image {
  width: 100%;
  height: 200vh;
  border: 1px solid blue;
  background-image: url("/main/floor.svg");
  animation: run 10s linear infinite;
  transform-origin: top center;

  transform: rotateX(70deg);
}

@keyframes run {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 0 100%;
  }
}
.cityImg {
  position: absolute;
  bottom: 50%;
  width: 100%;
  height: 80px;
  background-image: url("/main/city.png");
  background-repeat: repeat;
  background-size: 50% 100%;
  filter: drop-shadow(0 5px 12px #ff00e4);
}

.menu {
  width: 100%;
  height: 40px;
  padding: 0 5%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
  z-index: 1;
}

.item {
  color: #fff;
  font-weight: 100;
  filter: drop-shadow(0px 0px 0px #ff00e4) drop-shadow(0px 0px 3px #ff00e4);
}
